
/.idea
/module_4_1/__pycache__
test.txt
module_7_3/Результат (несколько файлов).txt
module_7_3/Walt Whitman - O Captain\! My Captain\!.txt
module_7_3/test_file.txt
module_7_3/Rudyard Kipling - If.txt
module_7_3/Mother Goose - Monday’s Child.txt
